.root {
  display: flex;
  justify-content: center;

  li {
    display: inline-flex;
    margin: 0 25px;

    a {
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      border: 1px solid #fe5f1e;
      border-radius: 50px;

      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

    }

  }
  :global {
    @media (max-width: 550px) {
      li:not(.selected):not(:last-child):not(:first-child){
        display: none;
      }
    }
    .selected {
      a {
        background: #fe5f1e;
        color: white;
      }

    }

  }



}