.root {
  position: relative;
  padding-bottom: 15px;
  .search {
    border: 1px solid rgba(0,0,0,0.1);
    width: 450px;
    padding: 15px 20px 15px 45px;
    border-radius: 20px;
    font-size: 16px;
    opacity: 0.5;
    transition: all ease-in-out 0.1s;
  }

  .search:hover, input:focus {
    border: 1px solid rgba(0,0,0,0.5);
  }

  .icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 15px;
  }
  .clear {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .clear:active {
    opacity: 0.5;
  }

  @media (max-width: 550px) {
    .search {
      width: 230px;
      padding: 15px 20px;
    }
    .icon {
      display: none;

    }
  }
}